# Local .terraform directories
**/.terraform/*
**/.terraform/

# terraform state files
*.tfstate
*.tfstate.backup

# crash logs
crash.log
crash.*.log

# exclude override files and tfvars with sensitive data
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# tfvars (보통 민감정보 있어서 제외)
*.tfvars
*.tfvars.json

# plan files
*.tfplan

# lock files (환경별 차이 있으므로 제외 추천)
.terraform.lock.hcl